<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%=description%>">
	<meta name="keywords" content="<%=title%>">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title><%=title;%></title>
	<% include helpers.ejs ;%>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
		<a class="navbar-brand" href="./">J'aime la mode</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<div class="nav-right">
			<ul class="navbar-nav">
				<% _.each(items, function(topC){ %>
					<% if(topC.c_showInMenu) { %>
						<li class="nav-item">
							<a href="categories?id=<%=topC.id%>&&description=<%=topC.page_description%>&&title=<%=topC.page_title%>" class="nav-link"><%= topC.name %></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="categories?id=<%=topC.id%>&&description=<%=topC.page_description%>&&title=<%=topC.page_title%>"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
							<div class="dropdown-menu" arra-labbledby="navbarDropdownMenuLink">
								<% _.each(topC.categories, function(bottomC) { %>
									<% if(topC.c_showInMenu) { %>
									<a href="subcategory?id=<%=bottomC.id%>&&description=<%=bottomC.page_description%>&&title=<%=bottomC.page_title%>" class="dropdown-item"><%= bottomC.name %>

									</a>
									<% }; %>
								<% }); %>
							</div>
						</li>
					<% } %>
			  	<% }); %>
			</ul>
		</div>
	</div>
	</nav>
	
