<% include includes/header.ejs ;%>
<div>
	<nav class="breadcrumb">
		<a id="navigator-home" class="breadcrumb-item" href="./">Home</a>
		<a  id="navigator-categories"class="breadcrumb-item active " href="categories?id=<%= id%>&&title=<%=title%>"><%=capitalizeString(id);%></a>
	</nav>
</div>
	<% _.each(categories, function(topC) { %>
		<% _.each(topC.categories, function(bottomC) { %>
			<input type="hidden" name="page_id" id="page_id" value=<%= bottomC.parent_category_id; %> >
			<div class="sub-category">
				<div class="row">
					<div class="col-md-12">
						<h2><%= bottomC.name%></h2>
					</div>
					<% if(bottomC.image){ %>
						<div class="col-md-12">
							<img class="img-zoom" src="./images/<%=bottomC.image%>" alt="">
						</div>
						<% } %>
						<div class="col-md-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptas ratione veritatis ipsa est, illo esse? Sequi animi excepturi autem laboriosam, beatae, blanditiis nihil odio reiciendis quisquam aut quo repellendus tenetur dolorem, tempora ab placeat aperiam commodi perspiciatis, distinctio cum! Et omnis soluta, reiciendis, aliquid recusandae commodi, sint ad nesciunt quisquam perferendis cumque. Totam asperiores dolorum error, facere, quas dolor nulla quam magni tenetur recusandae quae voluptas saepe illo, eos possimus rem quos vero! Minus accusantium quam nostrum, nisi at, a reiciendis sed facere corrupti neque dolorum voluptatum! Ab non reiciendis quis molestiae in unde hic minima amet. Adipisci, possimus.</p>
						</div>
						<div class="col-md"><a href="subcategory?id=<%= bottomC.id; %>&&description=<%= bottomC.page_decription; %>&&title=<%= bottomC.page_title; %>" class="btn btn-primary">View Categories</a></div>
					</div>
				</div>
				<hr>
			<% }); %>
	<% }); %>
<% include includes/footer.ejs ;%>
