<% include includes/header.ejs ;%>
<div>
	<nav class="breadcrumb">
		<a id="navigator-home" class="breadcrumb-item" href="./">Home</a>
		<a id="navigator-categories" class="breadcrumb-item" href="#"></a>
		<a id="navigator-subcategories" class="breadcrumb-item" href="#"></a>
		<a id="navigator-products" class="breadcrumb-item active" href="feeling_red?id=<%=id;%>&&title=<%=title;%>&&description=<%=description;%>&&parent=<%=parent;%>"><%= capitalizeString(id);%></a>
	</nav>
</div>
	<div class="row">
		<% _.each(products, function(product) { %>
			<input type="hidden" name="page_id" id="page_id" value=<%= id; %> >

			<div class="add-space col-md-6 col-sm-12">
			  <div class="col-md-12 col-sm-12">
    		  	<h2><%=product.name%></h2>
    		  </div>
    		  <div class="col-md-12 col-sm-12">
    		  	<div class="row">
					<% _.each(product.image_groups, function(images) { %>
						<%=images.link%>
						<%if(images.view_type === "medium"){ %>
								<% image = images.images[0]%>
						<% } %>
					<% }); %>
					<div class="col-md-4 col-sm-4 col-xs-6 product-image">
						<img src="./images/<%=image.link%>" class="img-zoom" alt="<%=image.alt%>">
					</div>
        		  	<div class="col md-8 col-sm-8 product-info">
						<div class="style.col-md-12 col-sm-12">
							<p>
								<%- product.short_description%>
							</p>
						</div>
        		  		<div class="col-md-12 col-sm-12 baseline-align">
							<span  class="col-md-6 col-sm-12 col-xs-12 ">
    							<%=monetize(product.price);%>
    						</span>

            		  		<a href="product?id=<%= product.id; %>&&description=<%= product.page_description; %>&&title=<%= product.page_title%>&&name=<%= product.name; %>" class="btn btn-success col-md-6 col-sm-12 col-xs-12  pull-right pill">More Info</a>
        		  		</div>
        		  	</div>
    		  	</div>
    		  </div>
			</div>
		<% }); %>
	</div>
<% include includes/footer.ejs ;%>
