<% include includes/header.ejs ;%>
	<div>
		<nav class="breadcrumb">
			<a id="navigator-home" class="breadcrumb-item active" href="./">Home</a>
	  	</nav>
	</div>
	<% _.each(items, function(mainCategory) { %>
		<div class="row">
		  <div class="col-md-12">
		  	<a href="categories?id=<%= mainCategory.id;%>&&description=<%= mainCategory.page_description;%>&&title=<%= mainCategory.page_title;%>" class="btn btn-success col-md-12">
				<%= mainCategory.name; %>
			</a>
			<hr>
			</br>
		  </div>
		  <div class="col-md-12">
		  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quae placeat iusto quasi a sed, quis delectus impedit perferendis, sequi cumque ut dolor facere magnam sit ducimus sapiente ipsam architecto nobis? Ratione consequatur enim neque perferendis quibusdam. Eveniet explicabo quia pariatur, corporis perferendis deserunt maxime, impedit quae ipsum eum ducimus, sint quam optio! Repudiandae dicta dolore quisquam expedita consequatur velit blanditiis saepe molestias nisi voluptates! Nulla voluptatem voluptatibus impedit architecto possimus, quas error fugiat! Nobis assumenda, placeat delectus sint non dolore. Illum, commodi quas dolorum blanditiis at eum. Explicabo ab obcaecati aliquid ea est incidunt aspernatur quasi, necessitatibus nemo aliquam.</p>
		  </div>
		</div>
		<% _.each(mainCategory.categories, function(subCategory) { %>
				<div class="sub-category">
					<div class="row">
						<div class="col-md-12">
							<h3><%= subCategory.name; %></h3>
						</div>
						<% if(subCategory.image && subCategory.c_showInMenu) { %>
						<div class="col-md-12">
							<img class="img-zoom" src="/images/<%= subCategory.image; %>" alt="">
						</div>
						<% } %>
						<div class="col-md-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel exercitationem magnam qui necessitatibus quisquam laboriosam sed aliquid eligendi doloremque consequuntur, maxime mollitia aspernatur, nemo omnis, suscipit accusantium quasi architecto, voluptatem! Vitae commodi voluptate laudantium consequuntur, autem cumque alias ipsum odit voluptates beatae, quam magni doloribus, quaerat libero. Dolore, quam nemo deleniti neque recusandae corporis, exercitationem nostrum architecto quae ratione eligendi expedita. Odit repellendus optio blanditiis culpa molestias fuga unde dolore ipsa eius minus iure distinctio reiciendis sit mollitia nobis amet, libero, impedit eum! Autem esse mollitia perspiciatis enim sapiente. Eaque earum perferendis, quaerat atque, necessitatibus perspiciatis quis molestias beatae dicta.</p>
							<a class="btn btn-primary" href="subcategory?id=<%=subCategory.id%>&&description=<%= subCategory.page_title;%>&&title=<%= subCategory.page_title;%>">View  <%= mainCategory.name; %> <%= subCategory.name; %></a>
						</div>
					</div>
					<br>
					<hr>
				</div>
		<% });%>
	<% });%>

<% include includes/footer.ejs ;%>
