<% include includes/header.ejs ;%>
	<div>
		<% _.each( product, function(product) { %>
			<nav class="breadcrumb">
				<a id="navigator-home" class="breadcrumb-item" href="./">Home</a>
				<a id="navigator-categories" class="breadcrumb-item" href="#"></a>
				<a id="navigator-subcategories" class="breadcrumb-item" href="#"></a>
				<a id="navigator-products" class="breadcrumb-item" href=""></a>
				<a id="navigator-product" class="breadcrumb-item active" href="product?id=<%=id;%>&&title=<%=title; %>&&description=<%=description%>&&name=<%=name;%>"><%= name; %></a>
			</nav>
		<% }); %>
	</div>
	<div class="row product-details">
		<% _.each( product, function(product) { %>
			<input type="hidden" name="page_id" id="page_id" value=<%= product.primary_category_id; %> >
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="image-container">
					<% _.each(product.image_groups, function (image_groups) { %>
						<% if (image_groups.view_type == "large") { %>
							<% _.each(image_groups.images, function (images) { %>
								<img class="images" src="/images/<%= images.link; %>" alt="<%= images.alt; %>" style="width: 100%">
							<% }); %>
						<% } %>
					<% }); %>
				</div>
			</div>	<!-- images-->

			<div class="col-md-8 col-sm-12 col-xs-12 item-details">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h2><%= product.name%></h2>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" >
						<p><%- product.long_description%></p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 baseline-align baseline-sm-align">
						<select name="" id="color" class=" col-md-2 col-sm-3 col-xs-3">
						  	<option value="">Color</option>
							<% _.each(product.variants, function (variation) { %>
								  <option value="<%= variation.product_id; %>">
									  <% _.each(variation, function (variation_values) { %>
											  <%= variation_values.color; %>
									  <% }); %>
								  </option>
							<% }); %>
						</select>
						<select name="" id="size" class=" col-md-2 col-sm-3 col-xs-3">
							<option value="">Size</option>
							<% _.each(product.variants, function (variation) { %>
								<% _.each(variation, function (variation_values) { %>
									<% if(variation_values.size) { %>
										<option value="<%= variation.product_id; %>">
											<%= variation_values.size; %>
										</option>
									<% } %>
								<% }); %>
							<% }); %>
						</select>
						<select name="currency_code" id="currency-change" class=" col-md-3 col-sm-3 col-xs-3">
							<option value="AUD">Australian Dollar</option>
							<option value="BGN">Bulgarian Lev</option>
							<option value="CAD">Canadian Dollar</option>
							<option value="EUR">Euro</option>
							<option value="INR">Indian Rupee</option>
							<option value="JPY">Japanese Yen</option>
							<option value="MXN">Mexican Peso</option>
							<option value="NZD">New Zealand Dollar</option>
							<option value="GBP">British Pound</option>
							<option value="CHF">Swiss Franc</option>
							<option value="TRY">Turkish Lira</option>
							<option value="USD" SELECTED="YES">U.S. Dollar</option>
						</select>
						<input type="hidden" id="item-price" name="" value="<%= product.price; %>">
						<span class="col-md-3 col-sm-3 money">USD : <%= product.price.toFixed(2); %></span>
						<button class="btn btn-success pill col-md-2 col-sm-2 col-xs-3">Buy now</button>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
<% include includes/footer.ejs ;%>
