body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pull-right {
	float: right;
}

/*img {
	width: 100% !important;
	height: auto !important;
}*/

.navbar
.collapse
.nav-right {
	float: right !important;
	margin-left: 70%;
}

.sub-category {
	text-align: center;
}

.sub-category h3 {
	text-align: left;
}

.sub-category img {
	width: 100%;
	height: auto;
}

.sub-category p {
	padding: 10px;
}

.sub-category a.btn {
	float: left;
	color: #fefefe;
}

.product-image >
 img {
	width: 100%;
}

.pull-right {
	float: right;
}

.add-space {
	padding-bottom: 20px;
}


.img-zoom {
	cursor: pointer;
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
	z-index: -100;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.baseline-align {
	position: absolute;
	bottom: 0;
}

.product-details li {
	list-style-type: none;
	text-align: left;
	color: #474747;
	padding: 5px;
}

.image-container {
	overflow: hidden;
	height: 380px;
}

.image-container img {
	height: 380px;
	display: inline;
}

@media (max-width : 990px) {
	.container {
		width: 100%;
	}

	.breadcrumb {
		display: none;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 13px;
	}

	.product-info {
		margin: 0;
		padding: 0;
	}

	.product-image {
		margin: 0 ;
		padding: 0;
	}
}

@media (max-width : 576px) {
	.baseline-align {
		position: relative;
		bottom: 0;
	}

	.product-image > img {
		align-items: center;
		width: 50%;
	}

	.product-image {
		text-align: center;
	}

	.image-container {
		text-align: center;
		width: 80% !important ;
		margin: 0 auto;
	}

}

@media (max-width : 768px) {
	.image-container {
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}

	.baseline-sm-align {
		position: relative;
	}

	.item-details {
		text-align: center;
	}

}
